<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Render Monitor</title>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="css/style.css">
    <!--suppress HtmlUnknownTarget -->
    <link rel="icon" type="image/ico" href="img/favicon.ico">
    <!--suppress JSUnresolvedLibraryURL -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--suppress HtmlUnknownTarget -->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" id = 'files'><%-files%></script>
</head>
<body>
    <table id="table">
    </table>
</body>
</html>